# OS X Temp Files
.DS_Store

# Build outputs
obj/
bin/
build/
/CHANGELOG.md
/CHANGELOG.NEXT.md

# IDEs
.vs/
*.csproj.user
*.DotSettings.user
launchSettings.json

# Text test resources
*.aar
*.dig
*.bin

# Verify
*.received.*
*.received/
